<div class="container d-flex flex-wrap justify-content-center">
    

{{#each products}}

<div class="col-md-4 mb-3">
    <div class="card">
        <img src="{{images}}" class="card-img-top" alt="{{name}}">
        <div class="card-body">
            <h5 class="card-title">{{title}} </h5>
            <p class="card-text"> {{description}}</p>
            <button type="button" class="btn btn-outline-secondary">buy</button>
        </div>
    </div>
</div>


    {{/each}}

</div>
